﻿
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/style.css" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/firstTaskController.js"></script>
    <script src="app/controllers/secondTaskController.js"></script>
    <script src="Scripts/jquery-3.0.0.js"></script>
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="Scripts/popper.min.js"></script>
</head>
<body ng-app="demo">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><span>TACTA HOMEWORK</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        FIRST TASK
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h3>Write words:</h3>
                    <div ng-controller="firstTaskController">
                        <p style="font-size:14px;">
                            <textarea type="text" ng-model="words"></textarea>
                        </p>
                        <button class="btn btn-success col-lg-2" ng-click="calculatePoints()">Calculate</button>
                        <h2>Total Points: {{pointsForPlayer}} </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        SECOND TASK
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div ng-controller="secondTaskController">
                        <h3>Enter the number of players:</h3>
                        <input class="form-control col-lg-2" type="number" ng-model="players" />
                        <br />
                        <button class="btn btn-success col-lg-2" ng-click="saveNumberOfPlayers()">Save</button>
                        <br /><br /><br />
                        <div ng-repeat="el in array">
                            <p>Player {{el.number}} : </p>
                            <p style="font-size:14px;" class="col-lg-2">
                                <textarea type="text" ng-model="el.player"></textarea>
                            </p>
                        </div>

                        <button ng-if="array.length > 0" class="btn btn-success col-lg-2" ng-click="calculatePointsForPlayers()">Calculate</button>
                        <div ng-repeat="el in pointsForPlayers">
                            <h2>Total Points: {{el}} </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card">
             <div class="card-header" id="headingThree">
                 <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         THIRD TASK
                     </button>
                 </h5>
             </div>
             <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                 <div class="card-body">
                     <div ng-controller="thirdTaskController">
                     </div>
                 </div>
             </div>
         </div>-->
    </div>
</body>
</html>